[submodule "modules/libelfin"]
	path = modules/libelfin
	url = https://github.com/TartanLlama/libelfin.git
[submodule "modules/linenoise"]
	path = modules/linenoise
	url = https://github.com/antirez/linenoise.git
